/* reset.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

body {
    background-color: rgb(249, 246, 241);  
    height: 100vh;    
    line-height: 1.6;
    color: #333;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul, ol {
    list-style: none;
}

.header-logo {
    position: fixed;
    background-color: rgb(249, 246, 241);     
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid grey;
    width: 100%;
    z-index: 1000;
    padding: 20px;
}

nav a{
    margin: 5px;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all ease-in-out 0.15s;
}
nav a:hover{
    color: red;
    transform: scale(1.1);
    background-color: rgb(87, 86, 86);
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-top: 55px;
    font-size: 18px;
    background-color: rgb(71, 71, 71);
}
