.product-nav-bar {
    padding: 10px 60px;
    width: 80%;
}
.product-nav-bar a {
    color: rgb(96, 125, 139);
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    padding: 8px;
    transition: all ease-in-out 0.15s;
}
.product-nav-bar a:hover {
    background-color: rgb(83, 81, 81);
    color: white;
    border-radius: 5px;
    transform: scale(1.1);
}

.product-page h1 {
    color: rgb(44, 62, 80);
    margin-top: 8px;
    margin-bottom: 8px;
}
.product {
    border-radius: 8px;
    padding: 12px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid black;
}
.product img {
    width: 50%; 
    height: 500px; 
    object-fit: contain; 
    object-position: center;
}
.title {
    color: rgb(44, 62, 80);
    margin-bottom: 8px;
    cursor: pointer;
}

.price {
    color: rgb(34, 139, 34);
    margin-bottom: 8px
}
.product p {
    color: rgb(105, 105, 105);
    font-size: 14px;
    margin-bottom: 8px;
}

