select {
    background-color: white;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px !important;
    margin-left: -90px !important;
    width: 410px !important;
}

.membership-container {
    display: grid;
    grid-template-columns: 250px 500px;
    font-size: 18px;
}

.options-div,
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options-div {
    width: 60%;
}

.option{
    padding: 8px 50px;
    border-radius: 5px;
    border: 1px solid black;
}

